*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.jobAddPanel{
    background-color: rgb(55, 0, 55);
    padding: 10px;
    width: 360px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.appLogo{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;
    font-size: 40px;
}

.jobForm{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.jobListPanel{
    display: flex;
    flex-direction: column;
    background-color: hsl(39, 46%, 86%);
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}

.jobForm input, textarea{
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    border: hidden;
    color: rgb(53, 53, 53);
    background-color: hsl(39, 46%, 86%);
}

.jobForm label{
    margin-top: 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(180, 146, 180);
}

.addJobToList{
    background-color: rgb(255, 145, 0);
    padding: 10px 40px;
    margin-top: 50px;
    border-radius: 8px;
    border: hidden;
}

.jobDescription{
    padding: 5px;
}

input:focus{
    border: 1px solid hsl(303, 100%, 50%);
    outline: none;
    /* outline: 1px solid hsl(303, 100%, 50%); */
}

.job{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: seashell;
    color: rgb(55, 0, 55);
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(55, 0, 55);
    border-bottom: 1px solid rgb(55, 0, 55);
    max-width:  90%;
    min-width: 80%;
    padding: 5px 20px;
    margin-top: 10px;
}
.jobHeader{
    display: flex;
    justify-content: space-between;
}

.jobDates{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.jobDescriptions{
    padding-top: 5px;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.gearIcon{
    width: 18%;
    padding-right: 5px;
    animation-name: gearRotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}

@keyframes gearRotate {
   100% {transform: rotate(360deg)}
}